params {
    reference =  "/media/HEAP-EPI/etcetera_mi/References/hg38_btk/GRCh38.d1.vd1.fa"
    bed = "/media/HEAP-EPI/etcetera_mi/hg_38_res/candidate_dmrs/reference/merged_candidates.bed"
    fai = "/media/HEAP-EPI/etcetera_mi/References/hg38_btk/GRCh38.d1.vd1.fa.fai"
    results_dir = "/media/HEAP-EPI/etcetera_mi/nextflow/icr_pipeline/results"
    samplesheet = "vcf_twelve.tsv"
    outdir = "statistics"
    regions_bed = "/media/HEAP-EPI/etcetera_mi/diplome/Candidate_ICR/monoallelic_hg38.bed"
    whatshap = "/media/HEAP-EPI/eod_wgs_conda_envs/aimanalieva/.conda/envs/whatshap-env/bin/whatshap"
    modkit = "//home/aimanalieva/.cargo/bin/modkit"
}

profiles {
    cluster {
        docker.enabled = true
        conda.enabled = false
        docker.registry = "eod-tools.med-gen.ru"
        docker.container = "eod-tools.med-gen.ru/icr_pipeline:latest"
        process.executor = "k8s"
        executor.querySize = 10
        k8s.cleanup = true
    }
}

k8s {
    namespace = "nextflow"
    storageClaimName = "heap-epi-nextflow"
    storageMountPath = "/media/HEAP-EPI"
    master = "https://192.168.86.220:6443"
    kubeConfig = "/home/data-epi-svc/.kube/config"
    computeResourceType = "Job"
    pullPolicy = "Always"
}

